#searchBoxdiv {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

#searchBox {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

#newFood {
    overflow: auto;
}

#newFoodButton {
    float: left;
    width: 20%;
    display: block;
    background-color: rgba(238, 58, 34, 0.925);
    color: white;
    border: none;
}

#nameField,
#caloriesField,
#imageField {
    margin-bottom: 5px;
}

#nameField,
#caloriesField,
#imageField input {
    width: 100%;
    display: block;
}

.single-food {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    height: 150px;
    background-color: rgb(239, 238, 238);
    padding: 10px;
    border: 1px solid rgba(238, 237, 237, 0.3);
}

.food-name {
    font-size: 1em;
}

.food-calories {
    font-size: 1em;
    color: rgba(238, 58, 34, 0.925);
}

.single-food img {
    width: 25%;
    height: 150px;
    float: left;
    border-radius: 50%;
}

.addButton {
    background-color: rgba(238, 58, 34, 0.925);
    color: white;
    border: none;
}
